.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  h1 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
}

.button {
  background-color: #d96666;
  padding: 12px 100px;
  border: 0;
  width: 100%;
  font-family: inherit;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}
